/* body{
    background-color: gray;
} */
.login_div {
    margin: auto;
    width: 530px;
    background-color: white;
    padding: 60px;
}  
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

